# Laravel core folders
/vendor
/node_modules
/public/storage
/storage/*.key
/public/build
/public/hot

# Environment & config files
.env
.env.*
.env.backup
.env.production
auth.json

# Test/Debug artifacts
/.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log

# JetBrains, VS Code, Fleet, etc.
.idea/
.vscode/
.fleet/

# Homestead & local development
Homestead.json
Homestead.yaml
